nav {
  ul {
    list-style: none;
    @extend %clearfix;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
  }

  li {
    float: left;
    margin: 0 3px;

    body.en & {
      margin: 0 12px;
    }
  }

  a {
    display: block;
    font-weight: bold;
    text-decoration: none;
    background: inherit;
    color: #1B75BC;
    @include rem-font-size(0.92);
    padding: 6px;
    @include border-radius(5px);

    &:hover, &.selected {
      background: #1B75BC;
      color: #fff;
    }
  }

}